li a:hover {
    color: orange;
}

.open {
    display: flex;
}

.closed {
    display: none;
}

.sidebar.expanded {
  transition: width 0.3s ease;
  width: 300px; /* Initial width when expanded */
}
  
.sidebar.collapsed {
  transition: width 0.3s ease;
  width: 0; /* Width when collapsed */
  overflow: hidden; /* Hide the content when collapsed */
}

  

